# Quartus Prime
/db/
/incremental_db/
/output_files/
/output_files_common/
/simulation/
/simulation_libs/
/db_incremental/
/*.qws
/*.qdf
/*.qpf
/*.qsf
/*.sopcinfo
/*.summary
/*.rpt
/*.chg
/*.htm
/*.sld
/*.jdi
/*.done
/*.qdz
/*.rdb
/*.qdz
/_db/
/*.bak
/*.rdb
/*.smsg
/*.cmp
/*.pin
/*.sof
/*.pof

# ModelSim
/work/
/modelsim.ini
/transcript
/wave
/*.mti
/*.bak
/*.wlf
/*.lck
/*.log
/*.key
